@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------- */


.blog2{
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("../app/image/techbg.jpg");
}
/* w-[100%] py-[50px] flex flex-col gap-[20px] bg-black" */
.borderContainer{
  background-color: #202020 ;
  border: 1px solid rgb(112, 128, 144);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0px;
  transition: 0.5s ease-in-out;

}




/* .bghero{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-image: url("../app/image/bgblack.jpg");
  /* flex-direction: column; */



.blog1cont{
  background-color: #011528;
  /* background-image: url(../app/image/techbg.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 50px;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.borderContainer:hover{
  background-color: black;
  transition: 0.5s ease-in-out;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
